.App {
  text-align: center;
}

.app {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 630px; /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo {
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

/*.headshot {*/
    /*width: 40%;*/
/*}*/

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
    }
}
